<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">  
<suite name="Add To Cart Items">  
  <test name="Check Add To Cart Items">  
	
    <classes>  
      <class name="ecom.testcases.HomePageTest"></class>
    </classes> 
     
  </test>  
  <test name="Add to Cart">
	  <classes>
		   <class name="ecom.testcases.AddtoCartPageTest"></class>
	  </classes>
  </test>
  <test name="Cart Page Test">
	  <classes>
		<class name="ecom.testcases.CartPageTest"></class>
	  </classes>
  </test>
  <test name="CheckOut Page Test">
	  <classes>
		  <class name="ecom.testcases.CheckOutPageTest"></class>
	  </classes>
  </test>
   <test name="Search Page Test">
	   <classes>
		     <class name="ecom.testcases.SearchPageTest"></class>
	   </classes>
   </test>
     
</suite>  